@charset "UTF-8";
/* main css for global elements */

body
    {
background: blue;
 
} 
 
a {
font-weight: bold;
}
.global_navigation:link {
color: black;
}
.global_navigation: visited {
color: black;
}
.global_navigation:hover {
text-decoration: none;
color: white;
background-color: navy;
}
.global_navigation:active {
color: aqua;
background-color: navy;
}

.logo_text {
float: right;
} 

.logo_subtext {
float: right;
}

.main_image {
float: left;
}
.footer_text {
clear: left;
}
 
 h1 
  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 38px;
	font-weight: bolder;
	color: gold;
}
 
  h3 
    {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: gold;
}

p 
   { 
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
     }
     
.woodcut {
     float: left;
     }
     .sessions {
     clear: left;
      }
     
  .third_statment {
 clear: left;
 }
 
 .declearation {
 clear: left;
 }