@charset "UTF-8";
/* main css for global elements */

body { 
  background-image: url (LIHFS/background.png) no-repeat center center fixed; 
  webkit-background-size: cover;
  moz-background-size: cover;
  background-size: cover;
  background-size: cover;
}
 
    
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bolder;
	color: gold;
}
  h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: gold;
}

p { 
    font-size: 15px;
    font-color: white;
    }
