@charset "UTF-8";
/* main css for global elements */

body
    {
 background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
width: 100%;/*1000px;*/
padding: 1%;/*10px;*/
margin: 0 auto;
font: 100%  1.5 'Didact Gothic', sans-serif;
text-align: center;
}

h1
{
font-size: 2em; /*32px*/
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 3px #323232;
}


h2
{
font-size: 1.5em; /*24px*/
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 3px #323232;
}


h3
{
font-size: 1.25em; /*20*/
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 3px #323232;
}


h4
{
font-size: 1.125em; /*18px*/
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 3px #323232;
}

img 
{max-width: 100%;
}

/* global elements css */
 
ul  {
width: 960px;
margin: 0 auto;
background: #666;
list-style-type: none;
padding: 0;
margin-left: 20px;
} 
 
 li  {
 width: 160px;
 background: silver;
 float: left;
 }
 
a { 
font-weight: bold;
display: block;
text-decoration: none;
background: #fff;
height: 30px;
line-height: 30px;
text-align: center;
}
a:link {
color: black;
}
a:visited {
color: gray;
}
a:hover {
text-decoration: none;
color: white;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}

li.global_navigation {
list-style-type: none;
}

 .footer_text {
 width: 92.6%;/*926px:*/
}
 
/* End global elements css. Begin home page css */
 
 p {
 text-align: justify;
 padding: 5px 10px 20px;
 }

.logo {
margin-bottom: 2%;/*20px;*/
}

.logo_text {
margin-bottom: 5.5%;/*55px;*/
}


.main_image {
width: 93%; /*930px;*/
margin-top: 1.075269%;/*10px;*/

}

.intro_text {
background: #fff;
opacity: 0.5;
width: 93%;/*930px;*/
margin-left:2.5%; /*25px;*/
border-radius: 1%; /*10px;*/
border-width: 0.2%;/*2px;*/
border-style: solid;
border-color: black;
}

/* end home page css. Begin about page css */

.about_heading {
font: 'Deutsh gothic','Didact Gothic', sans-serif;  
weight: bold;
text-shadow: 1px 1px 3px #323232;
}

.group_shot {
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}



.woodcut {
float: left;
margin: 10px;
}

.mission_statment{
background: #fff;
width: 901px;
margin-left: 33px;
margin-top: 5px;
border-width: 2px;
border-radius: 10px;
border-style: solid;
}

/* End About CSS. Begin Instructor CSS. */

 #instructors {
column-count: 2;
}

.bradsbio{
background: #fff;
opacity; 0.5;
width: 428px;
float: left;
margin: 10px;
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}

.mikesbio {
background: #fff;
opacity; 0.5;
width: 428px;
float: left;
margin: 10 20;
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}
 
#instructors_footer {
clear: left;
margin-top: 10px;
}

/*end instructors page css. begin gallery css */

.brad_mike .brad_bsg .brad_monatine .christian .jeff_shop .josh_longpoint
{
float:left;
 margin:2px;
}

.gallery_text{
clear: left;
}

/* end gallery css. Begin article css. */

#article{
background: #fff;
opacity; 0.5;
margin: 10px;
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}

