@charset "UTF-8";
/* main css for global elements */

body
    {
background-color: rgba(50, 96, 255, 0.5);
width: 1000px;
padding: 10px;
margin: 0 auto;
font: 15px/1.5'Didact Gothic', sans-serif;
margin: 0 auto;
text-align: center;
}

h1 h2 h3 h4 {
font-type: bold;
text-align: center;
}

/* global elements css */

.lihfslogo {
font-weight: bold;
float: left;
margin: 0 auto;
}

 ul {
width: 960px:
margin: 0 auto;
background: #666;
list-style-type: none;
padding: 0;
margin-left: 20px;
} 
 
 li {
 width: 160px;
 background: silver;
 float: left;
 }
 
a {
font-weight: bold;
display: block;
text-decoration: none;
background: #fff;
height: 30px;
line-height: 30px;
text-align: center;
}
a:link {
color: black;
}
a:visited {
color: gray;
}
a:hover {
text-decoration: none;
color: white;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}

li {
list-style-type: none;
}

 .footer_text {
 width: 926px:
}
 
/* End global elements css. Begin home page css */
 
 p {
 text-align: justify;
 padding: 5px 10px 20px;
 }

.logo {
margin-bottom: 20px;
}

.logo_text {
margin-bottom: 55px;
}


.main_image {
margin-top: 10px;

}

.intro_text {
background: #fff;
opacity: 0.5;
width: 930px;
margin-left: 20px;
border-radius: 10px;
border-width: 2px;
border-style: solid;
border-color: black;
}

/* end home page css. Begin about page css */

.woodcut {
float: left;
margin: 10px;
}

.mission_statment{
background: #fff;
opacity; 0.5;
width: 856px;
 margin: 10px;
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}

.about_heading about_subheading
{
font-weight: bold;
  text-align: center;
  float: right;
  margin-top; 10px;
  display: inline;
}

#instructors {
column-count: 2;
}

.bradsbio{
background: #fff;
opacity; 0.5;
width: 428px;
float: left;
margin: 10px;
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}

.mikesbio {
background: #fff;
opacity; 0.5;
width: 428px;
float: left;
margin: 10 20;
border-width: 2pxpx;
border-radius: 10px;
border-style: solid;
}
 
#instructors_footer {
clear: left;
margin-top: 10px;
}

/*end instructors page css. begin gallery css */

.brad_mike 
{
float:left;
 margin:5px;
}

.brad_bsg
{
float:left;
 margin:5px;
}

.brad_montaine
{
float:left;
 margin:5px;
}

.christian
{
float:left;
 margin:5px;
}

.jeff_shop
{
float:left;
 margin:5px;
}

.josh_longpoint
{
float:left;
 margin:5px;
}