@charset "UTF-8";
/* main css for global elements */

body
    {
background:url(mcapanelli.github.io/LIHFS/background.png);
background-repeat:no-repeat;
padding-top:40px;
} 

a {
font-weight: bold;
}
a:link {
color: black;
}
a:visited {
color: black;
}
a:hover {
text-decoration: none;
color: silver;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}

.logo_text {
float: right;
} 

.logo_subtext {
float: right;
}

h1 
  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 38px;
	font-weight: bolder;
	color: gold;
}
 
  h3 
    {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: gold;
}

p 
   { 
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
     }
     
.woodcut {
     float: left;
     }
     .sessions {
     clear: left;
      }
     
  .third_statment {
 clear: left;
 }
 
 .declearation {
 clear: left;
 }