@charset "UTF-8";
/* main css for global elements */

body
    {
background: url (../LIHFS/background.png);
font: 15px/1.5 "Georgia, "Times New Roman", Times, serif;
margin: 0 auto;
}
/* Global navigation css */

ul {
width: 960px:
margin: 0 auto;
background: #666;
list-style-type: none;
padding: 0;
} 
 
 li {
 width: 160px;
 background: silver;
 float: left;
 }
 
a {
font-weight: bold;
display: block;
text-decoration: none;
background: #fff;
height: 30px;
line-height: 30px;
text-align: center;
}
a:link {
color: black;
}
a:visited {
color: gray;
}
a:hover {
text-decoration: none;
color: white;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}

li {
list-style-type: none;
}
 
 
 