@charset "UTF-8";
/* main css for global elements */

div
{
background:url(LIHFS/background.png);
 background-repeat: repeat;
}
    
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bolder;
	color: gold;
}
  h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: gold;
}

p { 
    font-size: 15px;
    color: white;
    background-color: red;
    }
