@charset "UTF-8";
/* main css for global elements */

body
    {
background: blue;
 
}

ul {
width: 800px:
margin: 0 auto;
background: #666;
list-style-type: none;
padding: 0;
} 
 
 li {
 width: 133px;
 background: silver;
 float: left;
 }
 
a {
font-weight: bold;
display: block;
text-decoration: none;
background: #fff;
height: 30px;
line-height: 30px;
text-align: center;
}
a:link {
color: black;
}
a:visited {
color: gray;
}
a:hover {
text-decoration: none;
color: white;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}

li {
list-style-type: none;
}
 
 .intro_text {
clear: left;
}



.main_image {
float: left;
}
.footer_text {
clear: left;
}
 
 h1 
  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 38px;
	font-weight: bolder;
	color: gold;
}
 
  h3 
    {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: gold;
}

p 
   { 
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
     }
     
.woodcut {
     float: left;
     }
     .sessions {
     clear: left;
      }
     
  .third_statment {
 clear: left;
 }
 
 .declearation {
 clear: left;
 }