@charset "UTF-8";
/* main css for global elements */

body
    {
background:url(mcapanelli.github.io/LIHFS/background.png);
background-repeat:no-repeat;
padding-top:40px;
} 
.logo_text {
float: right;
} 
.logo_subtext {
float: right;
}
h1 
  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 38px;
	font-weight: bolder;
	color: gold;
}
  h3 
    {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: gold;
}

p 
   { 
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
     }
     .woodcut {
     float: left;
     
     }
     .mission_statment {
     clear: left;
     
     }
