@charset "UTF-8";
/* main css for global elements */

 html { 
  background-image: url (mcapanelli.github.io/LIHFS/background.png) no-repeat center center fixed; 
  background-repeat: repeat; 
}
 
    
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bolder;
	color: gold;
}
  h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: gold;
}

p { 
    font-size: 15px;
    color: white;
    }
