@charset "UTF-8";
/* main css for global elements */
#logo_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: bolder;
	color: blue;
}
#logo_subtext {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: bold;
	color: blue;
}

