@charset "UTF-8";
 
 /* ----------Main css for By The Sword ------------*/
 
 body {
background-color: #000;
font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
line-height: 125%;
padding: 1.663202% /(1em;*/
margin: 0 auto;
text-align: center;
}

h1 {
font: 2em/1.5  "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.188em 0.188em 0.188em #666;
}

h2 {
font: 1.5em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

h3 {
font: 1.3em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

img {
border: 0.188em solid black;
max-width: 100%;
}

p {
text-align: left;
font: 1em/1.5 strong;
text-shadow: 0.063em 0.063em 0.063em #666  
}

 #container {
 background-image: url("./images/parchment.png");
 width: 91.601256%;
 margin: 0 auto; 
 overflow: hidden;
 }

header {
width: 93.339026%; 
padding: 1%;
}


/*------------------- Main Nav Elements ---------------------- */ 
 

 ul {
width: 96.296296%; 
margin: 0 auto;
background: #666;
list-style-type: none;
margin: 0;
} 
 
 li {
 width: 24.09090%; 
 float: left;
 list-style-type: none;
 }
 
nav a {
 font-size: 1em;
 font-weight: bold;
 display: block;
 text-decoration: none;
 background: #fff;
 height: 1.875em;
 line-height: 1.875em; 
 text-align: center;
 padding: 1.25%; /*0.125em; 2px;*/
 border: 0.063em solid #CCCCCC;
 /*
  border-radius: 10px 5px; ------- Removed button mod on nav but leaving the css in place. -----------
 -moz-box-shadow: .313em .313em .313em  #666; 
 -webkit-box-sahdow: .313em .313em .313em #666;  
 box-shadow: .313em .313em .313em #666;
----------------------------------------------------------------------- */

}
a:link {
color: black;

}
a:visited {
color: gray;
}
a:hover {
text-decoration: none;
color: white;
background-color: navy;
}
a:active {
color: aqua;
background-color: navy;
}

/*-------------- #home section css ----------------- */

#about {
   background-color: #A4A4A4;
   width: 92.5%;
   border: .10em solid black;
   border-radius: 0.625em 0.313em; /*10px 5px;*/
   -moz-box-shadow: .313em .313em .313em  #666; 
   -webkit-box-sahdow: .313em .313em .313em #666;  
   box-shadow: .313em .313em .313em #666;
   margin-top: 3.125em; 
   margin-left: 1.250em; 
   padding: 1.5%;
}

 

#licthy {
float: left;
width: 26.824792%; /*228px;*/
margin: 1.3%;
}

#columns {
display: none;
}

#sign_up {
display: none;
}

 blockquote {
 width: 14%; /*100px;*/
 margin: 1%;
 padding: 1%;
 background: silver;
 font-weight: bold;
text-align: center;
text-shadow: .063em .063em .063em #666;
-moz-box-shadow:.313em .313em .313em #666;
-webkit-box-sahdow: .313em .313em .313em #666;
 box-shadow: .313em .313em .313em #666;
 float: right;
 }
 
#who_is_mike {
width: 88.8889%;
margin: 1.882422% 5.647325%; /*1em 3em;*/
padding: 1%; 
 }
 
 
#mike {
 width: 66.66667%; /*600px;*/
}

 #poleaxe {
 width: 24.824698%;/*211px;*/
 float: left;
margin: 1.3%;
}

 #CWpoleaxe {
 width: 60.120476% /*576px;*/
 margin: 1.3%;
}



/*-------------- #article css ------------- */

#what_i_teach {
width: 88.8889%;
margin: 1.882422% 5.647325%; /* 1em 3em;*/
padding: 1%; 
 }
 
 #group_shot {
  width: 60.120476% /*576px;*/
 margin: 1.3%;
 }
 
 /*--------- I can't seem to get the columns to align right 
 
 #columns {
 -webkit-column-count: 3;
 -moz-column-count: 3;
 -moz-column-gap: 20px; 
-webkit-column-gap: 20px; 
column-gap: 20px;
overflow: hidden;
margin: 0 auto;
 }
 /*--------------- #gallery secton css ----------------*/
 
 #gallery {
 width: 43%;
 margin: 0 auto; /*10.666667%*/
 padding: 3.367003%;
 float: left;
 }
 
 #agrippa_photo {
  width: 23%; /*90px;*/
  float: left;
  margin: .374634%; /*0.086em; 1.37px*/
 }
 
  #flatparry_photo {
  width:  23%;  /*90px */
  float: left;
  margin: .374634%; /*1.37px*/
 }
 
  #schielhau_photo {
  width:  23%; /*90px;*/
  float: left;
  margin: .374634%;  /*1.37px*/
 }
 
  #meyer_photo {
   width:  23%; /*90px;*/
   float: left;
   margin: .374634%; /*1.37px*/
 }
 
 /*--------------- #contact form css. I intend to add a contact form once we cover it in week 4 -----------------*/
  aside {
  width: 43%;
  margin: 0 auto; /*10.666667%*/
  padding: 3.367003%;
  float: right;
 }
/* 
  #contact_form a {
  font-size: 1em;
 font-weight: bold;
  display: block;
 text-decoration: none;
 background: #fff;
 height: 1.875em;
 line-height: 1.875em; 
 text-align: center;
 padding: 1.25%; 0.125em; 2px;
 border: 0.063em solid #CCCCCC;
 border-radius: 10px 5px; 
 -moz-box-shadow: .313em .313em .313em  #666; 
 -webkit-box-sahdow: .313em .313em .313em #666;  
 box-shadow: .313em .313em .313em #666;
 }
 */
    
/*----------------- # footer css --------------------*/
 footer {
 width: 100%;
 background: #000;
 clear: both;
 margin: 0 auto;
 padding: 0.311203%; /* 3px;*/
 }
 
.footer_text {
 color: #fff;
 }
 
 
 /*------------- Begin Media Queries ------------------------------------*/ 
 
 
 @media screen and (min-width: 768px) and (max-width: 959px) {
 
 h1 {
 font: 1.5em/1.5  "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.188em 0.188em 0.188em #666;
}

h2 {
font: 1.2em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

h3 {
font: 1em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

 
 
 #licthy {
display: none;
}
 
 #mike {
 display: none;
 }
 
 blockquote {
 display: none;
 }
 
 }
 
 
  
 @media screen and (min-width: 739px) and (max-width: 767px) {
 
 h2 {
font: 1.2em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

h3 {
font: 1em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

p {
text-align: left;
font: 0.9em/1.5 strong;
text-shadow: 0.063em 0.063em 0.063em #666  
}
 
 #tag_line {
 display: none;
 }
 
 #licthy {
display: none;
}
 
 #mike {
 display: none;
 }
 
 #who_is_mike {
 display: none;
 }
 
 #group_shot {
 display: none;
 }
 
 blockquote {
 display: none;
 }
 
 
 #gallery {
 width: 100%;
 float: none;
 }
 
 #contact_form {
 width: 100%;
 clear: both;
 }
 
 
 }
 
 
 @media screen and (min-width: 569px) and (max-width: 737px) {
 
 h2 {
font: 1.2em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

h3 {
font: 1em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}

p {
text-align: left;
font: 0.9em/1.5 strong;
text-shadow: 0.063em 0.063em 0.063em #666  
}
 
 
  #tag_line {
 display: none;
 }
 
   #main_nav {
 display: none;
 }
 
 #about {
   background-color: #A4A4A4;
   width: 85%;
   border: .10em solid black;
   border-radius: 0.625em 0.313em; /*10px 5px;*/
   -moz-box-shadow: .313em .313em .313em  #666; 
   -webkit-box-sahdow: .313em .313em .313em #666;  
   box-shadow: .313em .313em .313em #666;
   margin: 0 auto;
   /*margin-top: 3.125em; 
   margin-left: 1.250em;
   */ 
   padding: 1.5%;
}
 
 #licthy {
display: none;
}
 
 #mike {
 display: none;
 }
 
 #who_is_mike {
 display: none;
 }
 
 #group_shot {
 display: none;
 }
 
 blockquote {
 display: none;
 }
 
 
 #gallery {
 width: 100%;
 float: none;
 }
 
 #contact_form {
 width: 100%;
 clear: both;
 }
 
 
 }
  
 
 @media screen and (min-width: 320px) and (max-width: 568px)  {
 
  #tag_line {
 display: none;
 }
 
 h2 {
font: 1.2em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
text-shadow: 0.125em 0.125em 0.125em #666;
}
 
 p {
text-align: left;
font: 0.9em/1.5 strong;
text-shadow: 0.063em 0.063em 0.063em #666  
}
 
 
  #main_nav {
 display: none;
 }
 
 
 #about {
   background-color: #A4A4A4;
   width: 85%;
   border: .10em solid black;
   border-radius: 0.625em 0.313em; /*10px 5px;*/
   -moz-box-shadow: .313em .313em .313em  #666; 
   -webkit-box-sahdow: .313em .313em .313em #666;  
   box-shadow: .313em .313em .313em #666;
   margin: 0 auto;
   /*margin-top: 3.125em; 
   margin-left: 1.250em;
   */ 
   padding: 1.5%;
   }
 
  #licthy {
display: none;
}

#who_is_mike {
display: none;
}

 #what_i_teach  {
display: none;
}
 
 #mike {
 display: none;
 }
 
 blockquote {
 display: none;
 }
 
  #columns {
  display: block;
 -webkit-column-count: 3;
 -moz-column-count: 3;
 -moz-column-gap: 4.357298% /*20px; */
-webkit-column-gap: 4.357298% /* 20px; */
column-gap: 4.357298% /* 20px;*/
/*overflow: hidden;*/
border: 1px solid #000;
margin: 1%;
Padding: 1%;
 }
 
 #sign_up {
 display: block;
 }
 
 #gallery {
display: none;
 }
 
 #contact_form {
 width: 100%
 }
 
 
 }
 
 
 
 
 
 
  
 