@charset "UTF-8";

body {
width: 100%;
background-color: #FF0000;
}

#container {
width: 96%;
background: url("associating_js/img/sunny_day.jpg");
font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
line-height: 125%;
padding: 1.663202%; 
margin: 0 auto;
text-align: left;
}
