@charset "UTF-8";

body {
width: 100%;
background-color: #FF0000;
}

#container {
width: 96%;
background-color: #C6F6FF;
background-image: url(img/sunny_day.jpg);
background-position: bottom left, top left;
background-repeat: repeat-x, no-repeat;
}
