@charset "UTF-8";

@improt url(normalize.css)
@improt url (base.css)
@improt url (grid.css)
 
/* ---- LAYOUT ---- */

 body {
 background-color: #000;
 font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
line-height: 125%;
padding: 1.663202%; 
margin: 0 auto;
}
 
#container {
    background-color: #fff;
   /* width:97.389558%;*/
	margin; 0 auto;
	text-align: center;
	
	}

h1 {
font: 2em/1.5  "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

h2 {
font: 1.5em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

h3 {
font: 1.3em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

 
p {
text-align: left;
font: 1em/1.5 strong;
}

article {
text-align: center;
margin: 0 auto;
}

#main_copy {
margin: 1.250em 0 1.250em 1.250em;  /*20px 0 20px 20px;*/
}

.mike, .brad {
    /*vertical-align: middle;*/
     border: 0.063em solid #000000;
}

#group_shot {
border: 0.063em solid #000000;
}

#title_classes {
margin: 20px 87px 0 0;
}

#classes_copy {
margin-left: 6.250em /*100px;*/
}

footer {
-moz-column-count:3; 
-webkit-column-count:3; 
column-count:3;
 width: 100%;
 height: 9em; /*150px;*/
 background-color: #000;
 color: #fff;
 Text-align: center;
}

#title_instructors{
margin-right: 10.938em; /* 175px;*/
}

#name {
margin-right: 10.938em;
}
 
/* ---- NAVIGATION ---- */

nav {
margin: 1.25em 3.125em 0.625em 0; /*20px 50px 10px 0;*/
}
 
#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu {
	width: 98%;
	margin; 0 auto;
	border: 1px solid #222;
	background-color: #111;
	background-image: linear-gradient (#444, #111);
	border-radius: 6px;
	box-shadow: 0 1px 1px #777;
}

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}

#menu {
	zoom:1;
}

#menu li {
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
}

#menu a {
	float: left;
	padding: 12px 30px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
	color: #fafafa;
}

*html #menu li a:hover { /* IE6 only */
	color: #fafafa;
}

#menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1;    
	background: #444;	
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	border-radius: 3px;
	transition: all .2s ease-in-out;  
}

#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	box-shadow: -1px 0 0 rgba(255,255,255,.3);		
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
	box-shadow: none;    
}

#menu ul a {    
	padding: 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#menu ul a:hover {
	background-color: #0186ba;
	background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child > a {
	border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
	border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3; 
	border-bottom-color: transparent; 	
}

#menu ul li:last-child > a {
	border-radius: 0 0 3px 3px;
}

$(function() {
  if ($.browser.msie && $.browser.version.substr(0,1)<7)
  {
	$('li').has('ul').mouseover(function(){
		$(this).children('ul').css('visibility','visible');
		}).mouseout(function(){
		$(this).children('ul').css('visibility','hidden');
		})
  }
}); 
/* ---- MISC ---- */

#main_image {
width: 90%;
margin: 0 auto;
border: #000, 10px;
}

.clear {
margin-bottom: 20px;

}


#menu-trigger {
	display: none;
}

@media screen and (max-width: 780px) and (min-width: 601px){

	#menu-wrap {
		position: relative;
	}

	#menu-wrap * {
		box-sizing: border-box;
	}

	#menu-trigger {
		display: block;  
		height: 40px;
		line-height: 40px;
		cursor: pointer;		
		padding: 0 0 0 35px;
		border: 1px solid #222;
		color: #fafafa;
		font-weight: bold;
		background-color: #111;
                /* Multiple backgrounds here, the first is base64 encoded */
		background: url(data:image/png;base64,iVBOR...) no-repeat 10px center, linear-gradient(#444, #111);
		border-radius: 6px;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu {
		margin: 0; padding: 10px;
		position: absolute;
		top: 40px;
		width: 100%;
		z-index: 1;
		display: none;
		box-shadow: none;		
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444;
	}	

	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
		box-shadow: none;				
	}

	#menu ul ul {
		margin: 0 0 0 20px !important;
		box-shadow: none;		
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 5px;
		box-shadow: none;			
	}

	#menu ul li{
		margin-left: 20px;
		box-shadow: none;		
	}

	#menu a{
		display: block;
		float: none;
		padding: 0;
		color: #999;
	}

	#menu a:hover{
		color: #fafafa;
	}	

	#menu ul a{
		padding: 0;
		width: auto;		
	}

	#menu ul a:hover{
		background: none;	
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}		

}

@media screen and (max-width: 600px) and (min-width: 380px) {
	#menu {
		display: block;
	}
}	

/* iPad */
.no-transition {
	transition: none;
	opacity: 1;
	visibility: visible;
	display: none;  		
}

#menu li:hover > .no-transition {
	display: block;
}
 
 
 
 
 
  
 