@charset "UTF-8";

@improt url(normalize.css)
 
/* ---- LAYOUT ---- */

 body {
 background-color: #fff;
 font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
line-height: 125%;
padding: 1.663202%; 
margin: 0 auto;
text-align: center;
}
 
#container {
    width:97.389558%;
	margin-left: auto;
	margin-right: auto;
	}

h1 {
font: 2em/1.5  "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

h2 {
font: 1.5em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

h3 {
font: 1.3em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

 
p {
text-align: left;
font: 1em/1.5 strong;
text-shadow: 0.063em 0.063em 0.063em #666  
}
 
/* ---- NAVIGATION ---- */

UL {
list-style: none;
}
 
/* ---- MISC ---- */
 
 
 
 
 
  
 