@charset "UTF-8";

@improt url(normalize.css)

 
/* ---- LAYOUT ---- */

 body {
 background-color: #000;
 font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
line-height: 125%;
padding: 1.663202%; 
 }
 
#container {
    background-color: #fff;
    margin: 0 auto;
	text-align: left;
	}

h1 {
font: 2em/1.5  "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

h2 {
font: 1.5em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }

h3 {
font: 1.3em/1.5 "Didact Gothic", "Deutsch Gothic", sans-serif; 
text-align: center;
 }
 
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
/*text-align: center;*/
margin: 0 auto;
padding: 0.875em;
}

#main_copy {
margin: 1.250em 0 1.250em 1.250em;  /*20px 0 20px 20px;*/
}

#name_mike, #name_brad {
    margin-right: 10em; 
}

#group_shot,  #main_image {
border: 0.063em solid #000000;
}


#title_classes {
margin: 1.25em 5.438em 0 0; /*20px 87px 0 0;*/
}

#classes_copy {
margin-left: 6.250em /*100px;*/
}

footer {
-moz-column-count:3; 
-webkit-column-count:3; 
column-count:3;
 width: 100%;
 height: 9em; /*150px;*/
 background-color: #000;
 color: #fff;
 font: 0.875em/1.5 "Helvetica Neue", Helvetica, sans-serif;
}

 
#name {
margin-right: 10.938em;
}

 
 #like {
Margin-left: 110px;

  }
 
 #find {
 margin-left: 90px;
 }
 
 #faq {
 text-align: center;
 }
 

 
/* ---- NAVIGATION ---- */

nav {
margin: 1.25em 3.125em 0.625em 0; /*20px 50px 10px 0;*/
}
 
#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu {
	width: 98%;
	border: 1px solid #222;
	background-color: #111;
	border-radius: 6px;
	box-shadow: 0 1px 1px #777;
}

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}


#menu li {
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
}

#menu a {
	float: left;
	padding: 12px 30px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
	color: #fafafa;
}

#menu li a:hover { /* IE6 only */
	color: #fafafa;
}

#menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1;    
	background: #444;	
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	border-radius: 3px;
	transition: all .2s ease-in-out;  
}

#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	box-shadow: -1px 0 0 rgba(255,255,255,.3);		
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
	box-shadow: none;    
}

#menu ul a {    
	padding: 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#menu ul a:hover {
	background-color: #0186ba;
	background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child > a {
	border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
	border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3; 
	border-bottom-color: transparent; 	
}

#menu ul li:last-child > a {
	border-radius: 0 0 3px 3px;
}

/* ------ Buttons -----*/

    a.CSS3_Button {     
    display: inline-block;
     border: 1px solid #752201;     
     padding: 8px 18px; 
     margin: -30px 0 0 20px;    
     text-decoration: none;     
     color: #FFFFFF;    
     font: bold 1em/1.5 Helvetica, sans-serif; 
     } 
     
    #Theme-A {     
    -webkit-border-radius: 10px;     
    -moz-border-radius: 10px;     
    border-radius: 10px;     
    /* CSS3 Gradient color */     
    background: rgb(240,183,161); 
    /* Old browsers */     
    background: -moz-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 47%, rgba(117,34,1,1) 57%, rgba(191,110,78,1) 100%);
     /* FF3.6+ */    
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,183,161,1)), color-stop(47%, rgba(140,51,16,1)), color-stop(57%, rgba(117,34,1,1)), color-stop(100%, rgba(191,110,78,1))); 
      /* Chrome,Safari4+ */     
      background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 47%, rgba(117,34,1,1) 57%, rgba(191,110,78,1) 100%); 
      /* Chrome10+,Safari5.1+ */     
      background: -o-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 47%, rgba(117,34,1,1) 57%, rgba(191,110,78,1) 100%); 
      /* Opera 11.10+ */     
      background: -ms-linear-gradient(top, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 47%, rgba(117,34,1,1) 57%, rgba(191,110,78,1) 100%); 
      /* IE10+ */     
      background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 47%, rgba(117,34,1,1) 57%, rgba(191,110,78,1) 100%);
      -webkit-box-shadow: 0px 1px 3px 0px #444444;     
       box-shadow: 0px 1px 3px 0px #444444;     
       text-shadow: 1px 1px 1px #000000;     
        
       } 
       
       #Theme-A:hover {     
       /* CSS3 Gradient color */     
       background: rgb(191,110,78); 
       /* Old browsers */     
       background: -moz-linear-gradient(top, rgba(191,110,78,1) 0%, rgba(117,34,1,1) 47%, rgba(140,51,16,1) 57%, rgba(240,183,161,1) 100%);
        /* FF3.6+ */     
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(191,110,78,1)), color-stop(47%, rgba(117,34,1,1)), color-stop(57%, rgba(140,51,16,1)), color-stop(100%, rgba(240,183,161,1))); 
        /* Chrome,Safari4+ */     
        background: -webkit-linear-gradient(top, rgba(191,110,78,1) 0%, rgba(117,34,1,1) 47%, rgba(140,51,16,1) 57%, rgba(240,183,161,1) 100%); 
        /* Chrome10+,Safari5.1+ */     
        background: -o-linear-gradient(top, rgba(191,110,78,1) 0%, rgba(117,34,1,1) 47%, rgba(140,51,16,1) 57%, rgba(240,183,161,1) 100%); 
        /* Opera 11.10+ */     
        background: -ms-linear-gradient(top, rgba(191,110,78,1) 0%, rgba(117,34,1,1) 47%, rgba(140,51,16,1) 57%, rgba(240,183,161,1) 100%); 
        /* IE10+ */     
        background: linear-gradient(to bottom, rgba(191,110,78,1) 0%, rgba(117,34,1,1) 47%, rgba(140,51,16,1) 57%, rgba(240,183,161,1) 100%); 
        -webkit-box-shadow: 0px 2px 8px 0px #444444;     
        box-shadow: 0px 2px 8px 0px #444444;     
        text-shadow: 1px 2px 1px #000000;     
        
        } 

/* ---- MISC ---- */

.clear {
margin-bottom: 20px;
}

#menu-trigger {  
	display: none;
}

 
  /*---- Google Map ----*/
 
 #map_canvas {
        height: 400px;
        margin: 10px;
        /*background-color: #CCC;*/
      }
    
#contact {
      margin-bottom: 60px;
      }



#menu-trigger {  
	display: none;
}

#like {
Margin-left: 110px;

  }
 

/*=Media Queries
 ===============================================================*/

 /* Mobile Landscape Size to Tablet Portrait (Devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 768px) {

#menu-trigger {  
	display: block;
}

	#menu-wrap {
		position: relative;
	}

	#menu-wrap * {
		box-sizing: border-box;
	}

	#menu-trigger {
		display: block; /* Show it now */
		height: 40px;
		line-height: 40px;
		cursor: pointer;		
		padding: 0 0 0 35px;
		border: 1px solid #222;
		color: #fafafa;
		font-weight: bold;
		background-color: #111;
        border-radius: 6px;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu {
		margin: 0; padding: 10px;
		position: absolute;
		top: 40px;
		width: 100%;
		z-index: 1;
		display: none;
		box-shadow: none;		
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444;
	}	

	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
		box-shadow: none;				
	}

	#menu ul ul {
		margin: 0 0 0 20px !important;
		box-shadow: none;		
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 5px;
		box-shadow: none;			
	}

	#menu ul li{
		margin-left: 20px;
		box-shadow: none;		
	}

	#menu a{
		display: block;
		float: none;
		padding: 0;
		color: #999;
	}

	#menu a:hover{
		color: #fafafa;
	}	

	#menu ul a{
		padding: 0;
		width: auto;		
	}

	#menu ul a:hover{
		background: none;	
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}
	
#talhoffer {
display: none;
}

#title {
margin: 0 auto;

}

 #comments {
display: none;
}

footer {
 width: 100%;
 height: 6em; 
 background-color: #000;
 color: #fff;
 font: 0.750em/1.5 "Helvetica Neue", Helvetica, sans-serif;
}

#proud, #members, #find, #social, #built {
display: none;
} 

#copyright {
width: 100%;
}

#Theme-A, #like {
display: none;
}
	

}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {

#menu-trigger {  
	display: block;
}

	#menu-wrap {
		position: relative;
	}

	#menu-wrap * {
		box-sizing: border-box;
	}

	#menu-trigger {
		display: block; /* Show it now */
		height: 40px;
		line-height: 40px;
		cursor: pointer;		
		padding: 0 0 0 35px;
		border: 1px solid #222;
		color: #fafafa;
		font-weight: bold;
		background-color: #111;
        border-radius: 6px;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu {
		margin: 0; padding: 10px;
		position: absolute;
		top: 40px;
		width: 100%;
		z-index: 1;
		display: none;
		box-shadow: none;		
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444;
	}	

	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
		box-shadow: none;				
	}

	#menu ul ul {
		margin: 0 0 0 20px !important;
		box-shadow: none;		
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 5px;
		box-shadow: none;			
	}

	#menu ul li{
		margin-left: 20px;
		box-shadow: none;		
	}

	#menu a{
		display: block;
		float: none;
		padding: 0;
		color: #999;
	}

	#menu a:hover{
		color: #fafafa;
	}	

	#menu ul a{
		padding: 0;
		width: auto;		
	}

	#menu ul a:hover{
		background: none;	
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}		


#menu li:hover > .no-transition {
	display: block;
}

#comments {
display: none;
} 
 
#talhoffer {
display: none;
}		


#title {
margin: 0 auto;

}

footer {
 width: 100%;
 height: 6em; 
 background-color: #000;
 color: #fff;
 font: 0.125em/1.5 "Helvetica Neue", Helvetica, sans-serif;
}

#proud, #members, #find, #social, #built {
display: none;
} 

#copyright {
width: 97.5%;
}

#Theme-A, #like {
display: none;
}
	

	
}






 
 
 
 
 
 
  
 