@charset "UTF-8";

@improt url(normalize.css)
 
/* ---- LAYOUT ---- */

 body {
 background-color: #fff;
 font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
line-height: 125%;
padding: 1.663202%; 
margin: 0 auto;
text-align: center;
}
 
#container {
    width:97.389558%;
	margin-left: auto;
	margin-right: auto;
	}